* {
  box-sizing: border-box;
  transition: all .2s linear;
}

html {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $black;
  }

  @media (max-width: 108em) {
    font-size: 9px;
  }

  @media (max-width: 105em) {
    font-size: 8.75px;
  }

  @media(max-width: 91.5em) {
    font-size: 7.9px;
  }

  @media(max-width: 91em) {
    font-size: 8.4px;
  }

  @media(max-width: 90em) {
    font-size: 7.9px;
  }

  @media(max-width: 80em) {
    font-size: 7.2px;
  }

  @media(max-width: 72em) {
    font-size: 6.5px;
  }

  @media(max-width: 64em) {
    font-size: 5.5px;
  }

  @media(max-width: 48em) {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }

  @media(max-width: 44em) {
    font-size: 9px;
  }

  @media(max-width: 38em) {
    font-size: 8px;
  }

  @media(max-width: 34em) {
    font-size: 7px;
  }

  @media(max-width: 30em) {
    font-size: 6px;
  }

  @media(max-width: 26em) {
    font-size: 4.5px;
  }

  @media(max-width: 21em) {
    font-size: 4.4px;
  }

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  flex: 1 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}