$black: #000;
$white: #fff;
$bgbtn: #e5e5e5;
$bgbody: #f4f4f4;
$cladress: #e7e7e7;
$bgyellow: #FFCF26;
$bgreen: #11BE75;
$bggray: #d8d8d8;
$clwidget: #3c3c3c;
$borderbtn: #d6d6d6;
$bgradiobtn: #ffe074;
$bgradioborder: #777777;
$cltxtbtn:#4290C9;